
.customCardPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  touch-action: pan-x pan-y;
  height: 100% 
}

@font-face {
  font-family: 'Tharlon';
  src: url("../Tharlon.eot") format("embedded-opentype"),
      url("../Tharlon.woff") format("woff"),
      url('../Tharlon.ttf') format('truetype');
  font-weight: 400;
}

.editor {
  position: relative;
  width: 50%; 
  /* height: 70%; */
  margin: auto;
  }

  @media screen and (max-width: 449px) {
    .editor {
      position: relative;
      width: 50%; 
      margin: auto;
      margin-top: 20%;
      -webkit-transform:scale(1.4);
      -moz-transform:scale(1.4);
      -ms-transform:scale(1.4);
      transform:scale(1.4);
      }
  }

  @media screen and (min-width: 449px) and (max-width: 549px) {
    .editor {
      position: relative;
      width: 50%; 
      margin: auto;
      margin-top: 10%;
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      transform:scale(1.2);
      }
  }

  @media screen and (min-width: 549px) and (max-width: 699px) {
    .editor {
      position: relative;
      width: 50%; 
      margin: auto;
      margin-top: 5%;
      }
  }

  @media screen and (min-width: 700px) and (max-width: 999px) {
    .editor {
      position: relative;
      width: 50%; 
      margin: auto;
      margin-top: -5%;
      -webkit-transform:scale(0.7);
      -moz-transform:scale(0.7);
      -ms-transform:scale(0.7);
      transform:scale(0.7);
      }
  }

  @media screen and (min-width: 1000px) {
    .editor {
      position: relative;
      width: 50%; 
      margin: auto;
      margin-top: -15%;
      -webkit-transform:scale(0.6);
      -moz-transform:scale(0.6);
      -ms-transform:scale(0.6);
      transform:scale(0.6);
      }
  }

  /* @media (max-width: 900px) {
    .editor {
      position: relative;
      width: 50%; 
      margin: auto;
      margin-top: -15%;
      -webkit-transform:scale(0.7);
      -moz-transform:scale(0.7);
      -ms-transform:scale(0.7);
      transform:scale(0.7);
      }
  } */

  /* @media (max-width: 1100px) {
    .editor {
      position: relative;
      width: 50%; 
      margin: auto;
      margin-top: -15%;
      -webkit-transform:scale(0.5);
      -moz-transform:scale(0.5);
      -ms-transform:scale(0.5);
      transform:scale(0.5);
      }
  } */


  .template-img {
    width: 100%;
    height: 100%;
    /* clip-path: inset(0 0 2% 0); */
  }

  .card-field {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
  }

  #card-name {
    bottom: 18.8%;
    /* Adjust these values based on your template */
    /* left: 20%; */
    width: 80%;
    font-size: 3.27vw;
    text-align: center;
    /* Center text within the element */
    position: absolute;
    /* Ensure positioning relative to parent */
    transform: translateX(-50%);
    /* Center element horizontally by moving it left by half of its width */
    left: 50%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; /* Bold */
    text-transform: uppercase; /* Forces text to be uppercase */
  }

  #energy-cost {
    top: 0.75%;
    left: 0%;
    width: 15%;
    font-size: 5vw;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-weight: 700; /* Bold */
    font-style: italic;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Create the outline effect */
  }

  #power {
    top: 12.5%;
    left: 0%;
    width: 15%;
    font-size: 5vw;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-weight: 700; /* Bold */
    font-style: italic;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Create the outline effect */
  }

  #ability-name {
    bottom: 13%;
    left: 20%;
    width: 60%;
    font-size: 2vw;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-weight: 700; /* Bold */
    color: #323232;
  }

  #ability-description {
    top: 87.5%;
    left: 4.5%;
    width: 91%;
    font-size: 2vw;
    /* text-align: center; */
    font-family: 'Cabin', sans-serif;
    font-weight: 400; /* Regular */
    color: #323232;
    position: absolute;
  }

  #card-code {
    bottom: 26.75%;
    left: 72%;
    width: 20%;
    font-size: 2vw;
    text-align: center;
    font-family: 'Tharlon', sans-serif;
    color: rgba(255, 255, 255, 0.45);
  }

  .scale-hidden {
    /* display: none; */
    /* z-index: -99; */
    transform: scale(1) !important; /* Ensure it overrides existing styles */
  }

  .page-specific {
    touch-action: pan-x pan-y;
    height: 100%;
  }