.customCardPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
  
  .editor {
    position: absolute;
    height: 100%;
    max-height: 100vh;
    /* width: 50%; */
    /* width: 100%; */
    margin: auto;
  }

  .editor-container {
    position: relative;
    width: 80%;
    padding-bottom: 75%; /* Aspect ratio: 4:3 ratio example (height/width * 100%) */

  }

  .template-img {
    width: 100%;
    height: 100%;
    /* clip-path: inset(0 0 2% 0); */
  }

  .card-field {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
  }

  #card-name {
    bottom: 19%;
    /* Adjust these values based on your template */
    /* left: 20%; */
    width: 80%;
    font-size: 2.5vw;
    text-align: center;
    /* Center text within the element */
    position: absolute;
    /* Ensure positioning relative to parent */
    transform: translateX(-50%);
    /* Center element horizontally by moving it left by half of its width */
    left: 50%;
  }

  #energy-cost {
    top: 0.75%;
    left: 1%;
    width: 15%;
    font-size: 5vw;
    text-align: center;
  }

  #power {
    top: 12.5%;
    left: 1%;
    width: 15%;
    font-size: 5vw;
    text-align: center;
  }

  #ability-name {
    bottom: 13%;
    left: 20%;
    width: 60%;
    font-size: 2vw;
    text-align: center;
  }

  #ability-description {
    bottom: 9%;
    left: 20%;
    width: 60%;
    font-size: 2vw;
    text-align: center;
  }

  #card-code {
    bottom: 30%;
    left: 75%;
    width: 20%;
    font-size: 1vw;
    text-align: center;
  }